@font-face {
	font-family: "Luxor";
	font-display: swap;
	src: url("../fonts/Luxor.woff2") format("woff2"), url("../fonts/Luxor.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Varela";
	font-display: swap;
	src: url("../fonts/Varela-Regular.woff2") format("woff2"), url("../fonts/Varela-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
